# Code signing
CSC_IDENTITY_AUTO_DISCOVERY=true
CSC_NAME=Apple Distribution: Your Name (XXXXXXXXXX)
TEAM_ID=XXXXXXXXXX
APPLE_ID=you@example.com

# App Store Connect API credentials
APPLE_STORE_TEAM_ID=123456789
APPLE_TEAM_ID=XXXXXXXXXX
APP_STORE_KEY_ID=XXXXXXXXXX
APP_STORE_ISSUER_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
APP_STORE_KEY_PATH=./AuthKey_XXXXXXXXXX.p8
